{% extends 'base.html' %}
{% block title %}
Contatos
{% endblock %}

{% block content %}
<main>
    
    <section>
        <h1>Sobre este portifólio</h1>
<p>Este portifólio visa informar as pessoas sobre quem eu sou, e quais são os trabalhos que ja realizei, sejam acadêmicos, sejam prossionais</p>
<h3>Tecnologias utilizadas no desenvolvimento do portifólio:</h3>
<p>-Flask</p>
<p>-HTML</p>
<p>-CSS</p>
<p>-Python</p>
</section>

</main>
<img id="icones" src="../static/flask.png"></img>
<img id="icones" src="../static/html.png"></img>
<img id="icones" src="../static/css.png"></img>
<img id="icones" src="../static/python.png"></img>
{% endblock %}
