{% extends 'base.html' %}
{% block title %}
Contatos
{% endblock %}

{% block content %}
<main>
    
    <section>
        <h1>Sobre este portfólio</h1>
<p>Este portfólio visa informar as pessoas sobre quem eu sou, e quais são os trabalhos que ja realizei, sejam acadêmicos, sejam prossionais.
    Eu gostaria de apresentar quem eu sou, o que eu gosto de fazer, como por exemplo meus hobbies, também queria apresentar um pouco sobre meu trabalho,
    que será para ajudar na informatização dos pais de crianças que padecem de doença renal crônica.
</p>
<h3>Tecnologias utilizadas no desenvolvimento do portfólio:</h3>
<p>-Flask</p>
<p>-HTML</p>
<p>-CSS</p>
<p>-Python</p>
</section>

</main>
<img id="icones" src="../static/flask.png"></img>
<img id="icones" src="../static/html.png"></img>
<img id="icones" src="../static/css.png"></img>
<img id="icones" src="../static/python.png"></img>
{% endblock %}
