{% extends 'base.html' %}
{% block title %}
Contatos
{% endblock %}

{% block content %}
<main>
    <img src="../static/foto.jpg"></img>
    <section>

<h2>Um pouco sobre mim</h2>
<p> Eu me chamo Jonas Miguel de Oliveira, tenho 19 anos, 
    estou cursando o primeiro semestre de Desenvolvimento de Sotftware Multiplataforma, 
    na Faculdade de tecnologia Fatec Jessen Vidal. Sou brasileiro, de São José dos Campos,
    sou um jovem católico que ama programar.</p>
    <h2>O que eu gosto de fazer:</h2>
    <p>Como aluno da Fatec, uma das coisas que eu mais gosto é de mexer com computação.
        Mas eu também gosto de fazer outras coisas fora do ambiente profissional ou educativo, como por exemplo:
        -Fazer trilha de bicicleta: Este é um dos meus esportes favoritos
        -Tocar violão: Violão é um instrumento que me ajuda a descansar, e produz belos sons.
        -Tocar viola caipira: Este em si, é o meu instrumento favorito, devido a uma tradição familiar
        -Trabalho voluntário: Gosto muito de trabalho voluntário realizado em grupos da igreja Católica,
         para ajudar aos necessitados
    </p>
</section>

</main>

{% endblock %}