{% extends 'base.html' %}
{% block title %}
Contatos
{% endblock %}

{% block content %}
<main>
    <section>
        <h2>Trabalhos realizados</h2>
        <p>Os trabalhos realizados por mim na faculdade até hoje foram 2 sprints do Projeto API.</p>
        <h4>Nome do grupo:</h4>
        <p>Code Nine</p>
        <h4>Lista das etapas realizadas no trabalho:</h4>
        <p>-Montagem do grupo</p>
        <p>-descrição do problema</p>
        <p>-Construção do Backlog</p>
        <p>-Divisão de tarefas entre os integrantes</p>
        <p>-Construção do portifólio fo GitHUb</p>
        <p>-Protótipo navegável do projeto</p>
        <p>-Apresentação da primeira sprint</p>
        <h4>Descrição do trabalho:</h4>
        <p>O projeto realizado visa ajudar aos pais de crianças que sofrem de doença renal crônica, 
            ajudando na informatização, como por exemplo onde há hospitais no Brasil especializados na área, 
            quais os cuidados devem ser tomados com crianças assim, uma área de conversas, troca de mensagens entre os pais, para tirar possíveis dúvidas.</p>

    </section>
</main>
{% endblock %}