body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar pelo menos a altura da viewport */
}

.content {
    flex: 1; 
}

.footer {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.custom-img {
    max-width: 350px; 

    
}

.custom-section {
    border: 2px solid #0f47e2; /* Cor da borda */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
}

.custom-imge {
    max-width: 100%;
    height: auto;
}



/* controla a imagem minha, tornando-a responsiva e adicionando o filtro*/

.container-fluid {
    text-align: center;
}

.img-container {
    max-width: 100%;
    margin: auto;
    position: relative;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .img-container img {
        content: url("../static/eu-pequeno.jpg");
        filter: grayscale(100%);
    }
}